*{
    box-sizing: border-box;
    margin:0;
}
body {
font-family:'Roboto';
background-color:#ffcccb;
padding-bottom:5%;
margin-left:5%;
margin-right:5%;}
nav {background-color: #795548;
position:sticky;
left:0;
right:0;
top:0;
margin:0;
padding:1%;
justify-content:space-between;}
section {background-color:white;}
h1,h2,h3{background-color: #ef9a9a;
font-family: "Roboto";
color:white}
.container>ol{ list-style-type: none;     
overflow: hidden;
display:flex;
justify-content:space-between;}
.container>ul{ list-style-type: none;     
overflow: hidden;
display:flex;
justify-content:space-between;}
li{float: left;
display:inline;}
li a {
 display: block;
color:black;
text-decoration:none;}

li a:hover{ background-color: #a98274;
border-radius:25px;
margin-left:0%;
margin-right:0%;}
h1:first-child{
    color:black;
    background-color:transparent;
    font-size: 150%;
    text-align:center;
  margin-bottom:1%;
}
  a:first-child{
    text-decoration:none;
    color:black;
  }
.active{
    color:white;
}
footer{background-color: #795548;
position:sticky;}
.container{
  background-color: #795548;
}
